* {
  background: #000000;
  font-family: "Open Sans", sans-serif;
}

h1 {
  display: block;
  margin: 2% auto;
  color: white;
  font-family: "Caprasimo", cursive;
  font-size: 46px;
  width: 100%;
  text-align: center;
}
.places {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.place-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.place {
  text-align: center;
  padding: 20px 20px;
  border: 5px solid white;
  background: #1d3557;
}

.title {
  color: #a8dadc;
  background-color: #1d3557;
  text-transform: uppercase;
  font-size: 34px;
}

.name {
  color: white;
  background-color: #1d3557;
  font-size: 24px;
}

.location {
  color: #a8dadc;
  background-color: #1d3557;
  font-style: italic;
  font-size: 20px;
}

.description {
  color: white;
  background-color: #1d3557;
  font-size: 18px;
}

footer,
.author,
footer > p {
  background-color: #f1faee;
  color: black;
  text-align: center;
}

.contributions-list {
  display: flex;
  justify-content: space-around;
}
.contributions-list,
.contributions-list > li,
.contributions-list > li > a {
  text-align: left;
  background-color: #f1faee;
  color: black;
}
